{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ration{% endblock %}</title>

    <!-- Bootstrap and Google Fonts-->
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- My custom css -->
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">
    {% block stylesheet %}{% endblock %}

    <!--Google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</head>

<body class="body">
<div class="pt-5"></div>
<div class="pt-2"></div>

<nav class="navbar fixed-top navbar-expand-sm bg-white navbar-light shadow-sm">
    <div class="container ">
        <ul class="navbar-nav mr-auto">

            <!-- Logo -->
            <li class="nav-item ">
                <a class="navbar-brand font-weight-bold" href="{% url 'home' %}">Ration</a>
            </li>

            <!-- Search box -->
            <li class="nav-item">
                <form method="get" action="{% url 'search' %}">
                    <div class="input-group">
                        <input id='search-box' type="text" class="form-control text-italic" name="q"
                               placeholder="Search item, user or tag" required
                               {% if request.GET.q %}
                               value="{{ request.GET.q}}"
                               {% endif %}/>
                        <div class="input-group-append">
                            <button class="btn btn-primary"><i class="material-icons align-middle">search</i></button>
                        </div>
                    </div>
                </form>
            </li>

            <!-- Create item -->
            {% if request.user.is_authenticated %}
            <div class="pl-3 align-self-center">
                <a class="" href="{% url 'create_item' %}">
                    <button type="button" class="btn btn-primary rounded font-weight-bold">Create Item</button>
                </a>
            </div>
            {% endif %}

        </ul>

        <ul class="navbar-nav">

            {% if request.user.is_authenticated %}
            <!-- Dropdown menu -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary" href="#" id="navbardrop"
                   data-toggle="dropdown">{{ request.user.username }}</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'user' request.user.username %}">
                        Profile
                    </a>
                    <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'about' %}">About</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>

            {% else %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Sign in </a>
            </li>
            <li>
                <div class="pl-2 align-self-center">
                    <a href="{% url 'signup' %}">
                        <button type="button" class="btn btn-primary">Get Started</button>
                    </a>
                </div>
            </li>

            {% endif %}
        </ul>


    </div>
</nav>

{% block content %}{% endblock %}

<!-- Custom JS -->
{% block javascript %}{% endblock %}

</body>
</html>
