{% extends "base.html" %}


{% block content %}

<div class="mt-3 pb-2 container">
    <div class="row">

        {% include 'includes/left_container.html' %}

        <!-- Middle container -->
        <div class="col-10">
            <h1>Followers: </h1>
            <ul>
                {% for follower in follower_list %}
                {% ifnotequal follower user %}
                <li>{{ follower.username }}</li>
                {% endifnotequal %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}
