{% extends "base.html" %}


{% block content %}

<div class="pb-2 container">
    <div class="row">

        {% include 'includes/left_container.html' %}

        <!-- Middle container -->
        <div class="col-10">
            <h3 class="mt-2 font-weight-bold">Followers: </h3>
            <ul>
                {% for follower in follower_list %}
                {% ifnotequal follower user %}
                <li>{{ follower.username }}</li>
                {% endifnotequal %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}
