{% extends "base.html" %}


{% block content %}

<div class="mt-3 pb-2 container">
    <div class="row">

        {% include 'includes/left_container.html' %}

        <!-- Middle container -->
        <div class="col-10">
            <h1>Following: </h1>
            <ul>
                {% for following in following_list %}
                <li># {{ following.user_tag.tag.name }} (
                    <a href="{% url 'user' following.user_tag.user.username %}">@{{following.user_tag.user.username}}</a>
                    )
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}
