{% extends "base.html" %}
{% load utils %}

{% block content %}

<div class="pb-2 container">


    <div class="row">

        {% include 'includes/left_container.html' %}

        <!-- Middle container -->
        <div class="col-7 pl-0">
            <div class="row no-gutters pt-2 pl-5">
                <div class="col-6">
                    <h3 class="font-weight-bold pl-1 mb-0">
                        {% if request.GET.tag %}
                        #{{request.GET.tag}}
                        {% else %}
                        Timeline
                        {% endif %}
                    </h3>
                </div>
                <div class="col-6 ">
                    <div class="float-right ">
                        <div class="">
                            <a class="no-underline text-dark" href="#">
                                <i id="gear-icon" class="material-icons  ">
                                    settings
                                </i>
                                <span class="mb-3">Customize</span>
                            </a>
                            {% if user != request.user %}

                            {% include 'js/update_following.html' %}

                            <a class="ml-2 mr-2" href="#" data-toggle="modal"
                               data-target="#followModal{{user.id}}">
                                {% user_is_following_other_user request.user user as is_following%}
                                {% if is_following %}
                                Following{% else %}
                                Follow{% endif %}</a>
                            {% include 'includes/follow_modal.html' %}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            <div>
                {% include 'includes/update_list.html' %}
            </div>
        </div>

        <!-- Right container -->
        <div class="col-3 p-0">
            {% include 'includes/right_container.html' %}
        </div>


    </div>


</div>

{% endblock %}
