{% extends "base.html" %}

{% block content %}

<div class="mt-3 pb-2 container">

    <div class="row">

        {% include 'includes/left_container.html' %}

        <!-- Middle container -->
        <div class="col-7">
            <div>
                {% include 'includes/update_list.html' %}
            </div>
        </div>

        <!-- Right container -->
        <div class="col-3 pl-0 pr-0">
            {% include 'includes/right_container_new_items.html' %}
        </div>


    </div>


</div>

{% endblock %}
