{% extends "base.html" %}
{% load staticfiles %}

{% load humanize %}



{% block content %}

<div class="mt-3 pb-2 container">

    <div class="row">

        <!-- Middle container -->
        <div class="col-9 ">
            <div class="container bg-white">

                <div class="row">

                    <div class="col-3 mt-3">

                        <!-- Image -->
                        {% ifequal item.image '' %}
                        <img width="175" height="175" src="/media/item_icons/default.png"/>
                        {% else %}
                        <img width="175" height="175px" src="/media/{{ item.image }}"/>
                        {% endifequal %}

                    </div>

                    <div class="col-9 mt-3">

                        <div class="row">

                            <div class="col-11">

                                <!-- Creator and timestamp -->
                                <p class="mb-1">
                                    <a href="{% url 'user' item.creator.username %}">@{{ item.creator.username }}</a>
                                    <small class="text-muted"> • {{item.created_at|naturaltime}}</small>
                                </p>

                                <!-- Item name -->
                                <h3 class="mb-1">
                                    {{ item.name }}
                                    {% if item.url %}
                                    <a href="{{ item.url }}" target="_blank"><i
                                            class="material-icons">link</i></a>
                                    {% endif %}
                                </h3>

                                <!-- Tag -->
                                {% for tag in item.tags.all %}
                                <a class="no-underline" href="{% url 'items' %}?tag={{ tag.name }}">
                                <span class="badge badge-light font-weight-normal">
                                    #{{ tag.name }}
                                </span>
                                </a>
                                {% endfor %}


                            </div>

                            <div class="col-1">

                                <!-- Edit and delete -->
                                {% if request.user == item.creator %}
                                <a class="dropdown-toggle " href="#" id="navbardrop"
                                   data-toggle="dropdown">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{% url 'edit_item' item.id %}">Edit item</a>
                                    <a class="dropdown-item" href="{% url 'delete_item' item.id %}">Delete item</a>

                                </div>
                                {% endif %}

                            </div>

                            <!-- Rating section -->
                            <div class="container mt-2">
                                <div class="row">

                                    <!-- Site rating -->
                                    <div class="col-4 align-self-center">
                                        {% ifnotequal item.avg_rating None %}
                                        <p class="text-center">
                                            <b>RATION</b>
                                            <br>
                                            {{ item.avg_rating|floatformat }}/5
                                        </p>
                                        {% endifnotequal %}
                                    </div>
                                    {% if request.user.is_authenticated %}
                                    <div class="col-8">
                                        <form class="rating-form"
                                              method="POST">
                                            {% csrf_token %}

                                            <div class="row">
                                                <div class="col-6 align-self-center">
                                                    <p class="text-center">
                                                        <b>YOUR RATING</b>
                                                        <br>
                                                        <input type="number"
                                                               class="your-rating" min="1"
                                                               max="5"
                                                               name="rating"
                                                               value="{{user_item.rating|floatformat|default_if_none:''}}"/>
                                                        / 5
                                                    </p>
                                                </div>
                                                <div class="col-6 align-self-center">
                                                    <p class="text-center">
                                                        <b>YOUR INTEREST</b>
                                                        <br>
                                                        <input type="number"
                                                               class="your-interest"
                                                               name="interest"
                                                               max="3"
                                                               min="1"
                                                               value="{{ user_item.interest|floatformat}}"/>
                                                        / 3
                                                    </p>
                                                </div>
                                            </div>
                                            <button type="submit" hidden/>

                                        </form>
                                    </div>

                                    {% endif %}

                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="container pt-3 pb-3">
                        <p class="text-justify">{{ item.description }}</p>
                    </div>

                </div>


            </div>

        </div>

        <!-- Right container -->
        <div class="col-3 bg-white">
            {% include 'includes/right_container.html' %}
        </div>

    </div>


</div>

{% endblock %}
