{% extends "base.html" %}

{% load humanize %}

{% block content %}

<div class="mt-3 pb-2 container">

    <div class="row">

        <!-- Middle container -->
        <div class="col-9 ">
            <div class="container bg-white">

                <div class="row">

                    <div class="col-3 mt-3">
                        <!-- Image -->
                        {% ifnotequal item.image None %}
                        {% ifnotequal item.image '' %}
                        <img width="175" height="175px" src="/media/{{ item.image }}"/>
                        {% endifnotequal %}
                        {% endifnotequal %}
                    </div>

                    <div class="col-9 mt-3">

                        <div class="row">

                            <div class="col-9">

                                <!-- Creator and timestamp -->
                                <p class="mb-1">
                                    <a href="{% url 'user' item.creator.username %}">@{{ item.creator.username }}</a>
                                    <small class="text-muted"> • {{item.created_at|naturaltime}}</small>
                                </p>

                                <!-- Item name -->
                                <h3 class="mb-1">{{ item.name }}</h3>

                                <!-- Tag -->
                                <a class="no-underline" href="">
                                <span class="badge badge-light font-weight-normal">
                                    #{{ item.tag }}
                                </span>
                                </a>

                            </div>

                            <div class="col-3">

                                <!-- Edit and delete -->
                                {% if request.user == item.creator %}
                                <div class="vol-ctr d-flex justify-content-around">
                                    <a class="no-underline" href="{% url 'edit_item' item.id %}">
                                        <button class="btn btn-secondary btn-sm">Edit</button>
                                    </a>
                                    <a class="no-underline" href="{% url 'delete_item' item.id %}">
                                        <button class="btn btn-danger btn-sm">Delete</button>
                                    </a>
                                </div>

                                {% endif %}

                            </div>

                            <!-- Rating and interest section -->
                            <div class="container mt-2">
                                <div class="row">

                                    <!-- Site rating -->
                                    <div class="col-4 align-self-center">
                                        {% ifnotequal item.avg_rating None %}
                                        <p class="text-center">
                                            <b>RATION</b>
                                            <br>
                                            {{ item.avg_rating|floatformat }}/5
                                        </p>
                                        {% endifnotequal %}
                                    </div>
                                    {% if request.user.is_authenticated %}
                                    <div class="col-8">
                                        <form method="POST">
                                            {% csrf_token %}

                                            <div class="row">
                                                <div class="col-6 align-self-center">
                                                    <p class="text-center">
                                                        <b>YOUR RATING</b>
                                                        <br>
                                                        <input type="number" id="your-rating" min="1"
                                                               max="5"
                                                               name="rating"
                                                               value="{{  user_item.rating|floatformat }}"/>
                                                        / 5
                                                    </p>
                                                </div>
                                                <div class="col-6 align-self-center">
                                                    <p class="text-center">
                                                        <b>YOUR INTEREST</b>
                                                        <br>
                                                        <input type="number" id="your-interest"
                                                               name="interest"
                                                               max="3"
                                                               min="1"
                                                               value="{{ user_item.interest|floatformat}}"/>
                                                        / 3
                                                    </p>
                                                </div>
                                            </div>

                                            <input type="submit" hidden>

                                        </form>
                                    </div>

                                    {% endif %}

                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="container pt-3 pb-3">
                        <p class="text-justify">{{ item.description }}</p>
                    </div>

                </div>


            </div>

        </div>

        <!-- Right container -->
        <div class="col-3 bg-white">
            <!-- 10 latest items -->
            <div class="list-group p-3">
                <h3>Latest items</h3>
                <ul>
                    {% for item in latest_items %}
                    <li><a href="{% url 'item' item.id %}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </div>


</div>

{% endblock %}
