{% extends "base.html" %}


{% block content %}

<div class="mt-3 pb-2 container bg-white">
    <h3>Results for '{{ request.GET.q }}'</h3>

    {% if user_results %}
    <h5>Users: </h5>
    <ul>
        {% for user in user_results %}
        <li>{{ user.profile.fullname }} (<a href="{% url 'user' user.username %}">@{{ user.username }}</a>)</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if item_results %}
    <h5>Items: </h5>
    <table class="table">
        <tr>
            <th class="align-middle">Name</th>
            <th class="align-middle">Tag</th>
            <th class="align-middle">Site Rating</th>
        </tr>
        {% for item in item_results %}
        <tr>
            <td class="align-middle">
                <a href="{% url 'item' item.id %}">{{ item.name }}</a>
                {% if item.url %}
                <a href="{{ item.url }}" target="_blank"><i class="material-icons">link</i></a>
                {% endif %}
            </td>
            <td class="align-middle">{{ item.tag }}</td>
            <td class="align-middle">{{ item.avg_rating|floatformat }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>

{% endblock %}
