{% extends "base.html" %}


{% block content %}

<div class="pb-2 container">

    <div class="row">

        {% include 'includes/left_container.html' %}

        <!-- Middle container -->
        <div class="col-7 ">
            <div class="container">

                {% if user_results.count == 0 and item_results.count == 0 and tag_results.count == False %}
                <h3 class="mt-2 font-weight-bold">No results for '{{ request.GET.q }}' </h3>
                {% else %}
                <h3 class="mt-2 font-weight-bold">Results for '{{ request.GET.q }}': </h3>
                {% endif %}

                <!-- User list -->
                {% if user_results %}
                <h5 class="mt-2 font-weight-bold">Users</h5>
                <ul class="no-bullets pl-0 pt-4 border-bottom">
                    {% for user in user_results %}
                    <li class="pb-4">
                        <div class="row">
                            <div class="col-1 ">
                                <a href="{% url 'user' user.username %}">
                                    {% ifequal user.profile.picture '' %}
                                    <img class="rounded-circle"
                                         src="media/profile_pics/default.png"
                                         width="50px" height="50px">
                                    {% else %}
                                    <img class="rounded-circle"
                                         src="media/{{ user.profile.picture }}"
                                         width="50px" height="50px">
                                    {% endifequal %}

                                </a>

                            </div>
                            <div class="col-11 ">

                                <!-- First line -->
                                <div class="row">
                                    <div class="col-11">
                                        <a class="d-inline pl-2 no-underline "
                                           href="{% url 'user' user.username %}">
                                            <b>{{ user.profile.fullname }}</b>
                                        </a>
                                        <a class="d-inline text-muted no-underline"
                                           href="{% url 'user' user.username %}">
                                            <small>@{{ user.username}}</small>
                                        </a>
                                        <span class=""><b></b></span>
                                    </div>
                                    <div class="col-1">
                                        <span class="text-muted"><i class="material-icons">more_vert</i></span>
                                    </div>
                                </div>
                                <p class="pl-2 pr-4 text-muted text-justify">
                                    {{ user.profile.bio }}
                                </p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                <!-- Item list -->
                {% if item_results %}
                <h5 class="mt-2 font-weight-bold">Items</h5>
                <ul class="no-bullets pl-0 pt-2 ">
                    {% for item in item_results %}
                    <li class="pb-4">
                        <div class="row">
                            <div class="col-2">
                                {% ifnotequal item.image None %}
                                {% ifnotequal item.image '' %}
                                <a href="{% url 'item' item.id %}">
                                    <img class=" w-100" src="media/{{ item.image }}"/>
                                </a>
                                {% endifnotequal %}
                                {% endifnotequal %}
                            </div>
                            <div class="col-10 pl-0">
                                <div class="row">
                                    <div class="col-11 h-75">
                                        <a class="no-underline"
                                           href="{% url 'item' item.id %}">
                                            {{ item.name }}
                                        </a>
                                        <br>
                                        <a class="no-underline" href="{% url 'user' item.creator.username %}">
                                            <small class="text-muted">
                                                @{{ item.creator.username }}
                                            </small>
                                        </a>
                                        <br>

                                        <!-- Tag -->
                                        {% for tag in item.tags.all %}
                                        <a class="no-underline" href="{% url 'items' %}?tag={{ tag.name }}">
                                <span class="badge badge-light font-weight-normal">
                                    #{{ tag.name }}
                                </span>
                                        </a>
                                        {% endfor %}

                                    </div>
                                    <div class="col-1">
                                        <span class="text-muted"><i class="material-icons">more_vert</i></span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                <!-- Tag results -->
                {% if tag_results %}
                <h5 class="mt-2 font-weight-bold">Tags</h5>
                <ul>
                    {% for tag in tag_results %}
                    <li><a href="{% url 'items' %}?tag={{ tag.name }}">#{{ tag.name }}
                    </a></li>
                    {% endfor %}
                </ul>
                {% endif %}


            </div>

        </div>
        <!-- Right container -->


    </div>


</div>

{% endblock %}
