{% extends "base.html" %}

{% load humanize %}

{% block content %}

<div class="mt-3 pb-2 container">
    <div class="row">
        <!-- Left container -->
        <div class="col-2 pl-0 pr-0">
            {% include 'includes/your_user_left_container.html' %}
        </div>

        <!-- Middle/Left container -->
        <div class="col-10">

            <!-- Follow button -->
            {% if request.user.is_authenticated %}
            {% if is_following %}
            <a href="{% url 'follow' taglist.id %}">Unfollow</a>
            {% else %}
            <a href="{% url 'follow' taglist.id %}">Follow</a>
            {% endif %}
            {% endif %}

            <!-- Edit/delete button -->
            {% ifequal request.user taglist.user %}
            <a href="{% url 'edit_taglist' taglist.id %}">Edit</a>
            <a href="{% url 'delete_taglist' taglist.id %}">Delete</a>
            {% endifequal %}



            <h3>{{ taglist.name }}</h3>
            <ul>
                {% for tag in taglist.tags.all %}
                <li>
                    <a href="{% url 'items' %}?tag={{ tag.name }}">{{ tag.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <h3>Updates</h3>
            <ul>
                {% for update in taglist_update_list %}
                <li>{{ update.timestamp|naturaltime }} - {{ update.message }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>


{% endblock %}
