{% extends "base.html" %}

{% load humanize %}

{% block content %}


<div class="mt-3 pb-2 container">

    <div class="row">

        {% include 'includes/left_container.html' %}

        <!-- Middle container -->
        <div class="col-7 ">
            <div class="container bg-white">
                <h1>{{ taglist.name }}</h1>
                <table class="table">
                    <tr>
                        <th class="align-middle">Timestamp</th>
                        <th class="align-middle">Message</th>
                    </tr>
                    {% for update in update_list %}
                    <tr>
                        <td class="align-middle">{{ update.timestamp|naturaltime}}</td>
                        <td class="align-middle">{{ update.message }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>

        <!-- Right container -->
        <div class="col-3 bg-white">
            {% include 'includes/right_container.html' %}
        </div>


    </div>


</div>

{% endblock %}
