{% load utils %}

<table class="table table-bordered bg-white">
    <tr class="thead-dark">
        <th class="text-center align-middle">#</th>
        <th class=" align-middle" style="width: 30%">Item name</th>
        <th class="text-center align-middle">Score 1</th>
        <th class="text-center align-middle">Int 1</th>
        <th class="text-center align-middle">Score 2</th>
        <th class="text-center align-middle">Int 2</th>
        <th class="text-center align-middle">Diff sco</th>
        <th class="text-center align-middle">Avg sco</th>
        <th class="text-center align-middle">Avg int</th>
    </tr>
    {% for comparison in comparisons %}
    <tr>
        <td class="text-center align-middle">{{ forloop.counter }}</td>
        <td class=" align-middle"><a href="{% url 'item' comparison.item.id %}">{{ comparison.item.name }}</a></td>
        <td class="text-center align-middle">{{ comparison.rating1|floatformat }}</td>
        <td class="text-center align-middle">{{ comparison.interest1|floatformat }}</td>
        <td class="text-center align-middle">
            {% include 'includes/rating_stars.html' %}
        </td>
        <td class="text-center align-middle">
            {% include 'includes/interest_flames.html' %}
        </td>
        <td class="text-center align-middle">{{ comparison.rating_difference|floatformat }}</td>
        <td class="text-center align-middle">{{ comparison.avg_rating|floatformat }}</td>
        <td class="text-center align-middle">{{ comparison.avg_interest|floatformat }}</td>
    </tr>
    {% endfor %}
</table>