{% load utils %}

<div class="col-2 pl-0 pr-0">

    {% if request.user.is_authenticated %}
    <div class="bg-white pl-3 pr-3 shadow-sm rounded">
        <div class="pt-3">

            {% if user.is_authenticated %}

            <div class="row">
                <div class="col-5 pl-3 pr-0">
                    <a href="{% url 'user' user.username %}">
                        <img class="rounded-circle w-100" src="/media/{{ user.profile.picture }}"/>
                    </a>
                </div>
                <div class="col-7 pl-1 pr-2">
                    <p>
                        <a href="{% url 'user' user.username %}" class="text-dark no-underline">
                            <b>{{ user.profile.fullname }}</b>
                            <br>
                            <small class="text-muted d-inline">@{{ user.username }}</small>
                        </a>
                    </p>
                </div>
            </div>

            <div class="row">

                <!-- Items -->
                <div class="col-6">
                    <div class="align-self-center">
                        <a class="nav-link text-center pl-0 pr-0 {% if '/created' in request.path %}font-weight-bold{% endif %}"
                           href="{% url 'user_created_item_list' user.username %}">Created
                            <br>
                            <b>
                                {%get_created_item_count_by_user user%}
                            </b>
                        </a>
                    </div>
                </div>

                <!-- Items -->
                <div class="col-6">
                    <div class="align-self-center">
                        <a class="nav-link text-center pl-0 pr-0  {% if '/ratings' in request.path %}font-weight-bold{% endif %}"
                           href="{% url 'rating_list' user.username %}">Ratings<br><b>{{user.user_items.all|length}}</b>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">

                <!-- Following  -->
                <div class="col-6">
                    <div class="align-self-center">
                        <a class="nav-link text-center pl-0 pr-0  {% if '/following' in request.path %}font-weight-bold{% endif %}"
                           href="{% url 'following_list' user.username %}">Following
                            <br>
                            <b> {% get_following_count_by_user user %}</b>
                        </a>
                    </div>
                </div>

                <!-- Followers -->
                <div class="col-6">
                    <div class="align-self-center">
                        <a class="nav-link text-center pl-0 pr-0  {% if '/followers' in request.path %}font-weight-bold{% endif %}"
                           href="{% url 'follower_list' user.username %}">Followers<br>
                            <b>{% get_follower_count_by_user user %}</b>
                        </a>
                    </div>
                </div>


            </div>

            <!-- Divider -->
            <div class="mt-2 mb-3 container border-top"></div>


            <!-- List of tags -->
            <ul class="no-bullets pl-0 pb-3">

                <!-- User Tag filter -->
                {% include 'js/user_tag_filter.html' %}
                <div class="form-group mb-1">
                    <input class="form-control user-tag-filter" type="text" placeholder="Search #tag"/>
                </div>

                {% for user_tag in user.get_user_tag_list %}

                {% if user_tag.user == request.user %}
                <li>
                    <small>
                        <a href="{% url 'rating_list' user.username %}?tag={{ user_tag.tag.name }}">
                            <div class="row no-gutters">
                                <div class="col-11">
                                    #{{ user_tag.tag.name }}
                                    {% if user_tag.is_private %}

                                    <i class="material-icons align-middle" style="font-size: 10px; color: #b5b5b5; ">
                                        lock

                                    </i>

                                    {% endif %}
                                </div>
                                <div class="col-1 text-center">
                                    {{ user_tag.item_count }}
                                </div>
                            </div>
                        </a>
                    </small>
                </li>
                {% else %}
                {% if user_tag.is_private == False %}
                <li>
                    <small>
                        <a href="{% url 'rating_list' user.username %}?tag={{ user_tag.tag.name }}">
                            <div class="row no-gutters">
                                <div class="col-11">
                                    #{{ user_tag.tag.name }}
                                    {% if user_tag.is_private %}

                                    <i class="material-icons align-middle" style="font-size: 10px; color: #b5b5b5; ">
                                        lock

                                    </i>

                                    {% endif %}
                                    {% user_is_following_user_tag request.user user_tag as is_following %}
                                    {% if is_following %}
                                    (following)
                                    {% endif %}

                                </div>
                                <div class="col-1 text-center">
                                    {{ user_tag.item_count }}
                                </div>
                            </div>
                        </a>
                    </small>
                </li>
                {% endif %}
                {% endif %}

                {% endfor %}
            </ul>

            {% endif %}
        </div>
    </div>

    {% endif %}

</div>
