{% load utils %}

<table class="table table-bordered bg-white">
    <tr class="thead-dark">
        <th class="align-middle text-center" style="width: 5%">#</th>

        <!-- Name column -->
        <th class="align-middle">
            <a class="text-white "
               href="{% url 'rating_list' user.username %}?order=name&sort=asc&tag={{ request.GET.tag }}">
                Name
            </a>
        </th>

        <th class="align-middle text-center" style="width: 16%">
            <a class="text-white "
               href="{% url 'rating_list' user.username %}?order=score&sort=desc&tag={{ request.GET.tag }}">
                Sco
            </a>
        </th>

        <!-- Interest column -->
        <th class="align-middle text-center" style="width: 8%">
            <a class="text-white "
               href="{% url 'rating_list' user.username %}?order=interest&sort=desc&tag={{ request.GET.tag }}">
                Int
            </a>
        </th>

    </tr>

    {% for user_item in rating_list %}
    <tr class="">
        <td class="align-middle text-center">
            {{ forloop.counter }}
        </td>

        <!-- Item name -->
        <td>
            <a class=" "
               href="{% url 'item' user_item.item.id %}">{{ user_item.item.name }}</a>
            {% if user_item.item.url %}
            <a href="{{ user_item.item.url }}" target="_blank"><i
                    class="material-icons">
                <small>
                    <small>launch</small>
                </small>
            </i></a>
            {% endif %}
        </td>


        <!-- User score -->
        <td class="text-center align-middle">


            {% include 'includes/rating_stars.html' %}

        </td>

        <!-- User interest -->
        <td class="text-center align-middle">
            {% include 'includes/interest_flames.html' %}
        </td>


    </tr>
    {% endfor %}
</table>