{% load utils %}


<div class="mt-2">

    <!-- New users
    <h5 class="d-inline font-weight-bold mt-3 pl-3">New users</h5>
    <small class="ml-1 mr-1 font-weight-bold ">·</small>
    <a class="d-inline" href="{% url 'users' %}">
        <small>View all</small>
    </a>

    <ul class="no-bullets pl-0">
        {% for user in newest_users %}
        <li>
            <div class="bg-white shadow-sm rounded mt-2">
                <a href="{% url 'user' user.username %}">{{ user.username }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>-->

    <!-- New items -->
    <h5 class="d-inline font-weight-bold ">New Items</h5>
    <small class="ml-1 mr-1 font-weight-bold ">·</small>
    <a href="{% url 'items' %}">
        <small>View all</small>
    </a>

    <ul class="pl-0  no-bullets">
        {% for item in latest_items %}
        <li class=" pt-2 pb-2">
            <div class="bg-white shadow-sm rounded pb-2">
                <div class="container">

                    <div class="row pt-2">

                        <div class="col-4 pl-2 pr-0 ">
                            <!-- Image -->
                            <div class="d-flex justify-content-center">
                                <a class="" href="{% url 'item' item.id %}">
                                    {% ifequal item.image '' %}
                                    <img class="w-100" src="/media/item_icons/default.png">
                                    {% else %}
                                    <img class="w-100"
                                         src="/media/{{ item.image }}"/>
                                    {% endifequal %}
                                </a>
                            </div>
                        </div>

                        <div class="col-7 pl-2 pr-0">
                            <a href="{% url 'item' item.id %}"
                               class="text-dark font-weight-bold"
                               title="{{ item.name }}"
                            >{{ item.name|slice:"50"}}{% if item.name|length > 50 %}
                                ... {% endif%}
                            </a>

                            <br>
                            <!-- Tags -->
                            {% for tag in item.tags.all %}
                            <a class="no-underline" href="{% url 'items' %}?tag={{ tag.name }}">
                                <span class="badge badge-light font-weight-normal">
                                    #{{ tag.name }}
                                </span>
                            </a>
                            {% endfor %}

                            <br>
                            <a class="no-underline" href="{% url 'user' item.creator.username %}">

                            </a>

                        </div>

                        <div class="col-1 pl-0 pr-0">
                            <!-- Edit and delete -->
                            {% if request.user == item.creator %}
                            <a class="dropdown-toggle " href="#"
                               data-toggle="dropdown">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% url 'edit_item' item.id %}">Edit item</a>
                                <a class="dropdown-item" href="{% url 'delete_item' item.id %}">Delete item</a>

                            </div>
                            {% endif %}
                        </div>

                    </div>



                </div>


            </div>
        </li>
        {% endfor %}
    </ul>
</div>
