{% load utils %}

{% block javascript %}
{% include 'includes/rating_home.html' %}
{% endblock %}

<!-- 5 latest items -->
<div class="mt-3 bg-white">
    <h5 class="d-inline ">Newest items</h5>
    <small class="ml-1 mr-1 font-weight-bold ">·</small>
    <a class="d-inline" href="{% url 'items' %}">
        <small>View all</small>
    </a>


    <ul class="pl-0 mt-2 no-bullets">
        {% for item in latest_items %}
        <li class=" pt-3 pb-3">
            <div class="row ">

                <div class="col-4 pl-0 pr-0 ">
                    <!-- Image -->
                    <div class="d-flex justify-content-center">
                        <a class="" href="{% url 'item' item.id %}">
                            {% ifequal item.image '' %}
                            <img width="75" height="75" src="/media/item_icons/default.png">
                            {% else %}
                            <img width="75" height="75"
                                 src="/media/{{ item.image }}"/>
                            {% endifequal %}
                        </a>
                    </div>
                </div>

                <div class="col-7 pl-0 pr-0">
                    <a href="{% url 'item' item.id %}">{{ item.name|slice:"50"}}{% if item.name|length > 50 %}
                        ... {% endif%}
                    </a>
                    <span class="badge badge-primary
                    font-weight-normal"
                          title="Ration Score">
                        {{ item.avg_rating|floatformat }}/5
                    </span>
                    <br>
                    <!-- Tags -->
                    {% for tag in item.tags.all %}
                    <a class="no-underline" href="{% url 'items' %}?tag={{ tag.name }}">
                                <span class="badge badge-light font-weight-normal">
                                    #{{ tag.name }}
                                </span>
                    </a>
                    {% endfor %}

                    <br>
                    <a class="no-underline" href="{% url 'user' item.creator.username %}">
                        <small class="text-muted">
                            @{{ item.creator.username }}
                        </small>
                    </a>

                </div>

                <div class="col-1 pl-0 pr-0">
                    <!-- Edit and delete -->
                    {% if request.user == item.creator %}
                    <a class="dropdown-toggle " href="#" id="navbardrop"
                       data-toggle="dropdown">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'edit_item' item.id %}">Edit item</a>
                        <a class="dropdown-item" href="{% url 'delete_item' item.id %}">Delete item</a>

                    </div>
                    {% endif %}
                </div>

            </div>
            <form class="rating-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                    <span>
                        Your score:
                       <input type="number"
                              class="your-rating"
                              min="1"
                              max="5"
                              name="rating"
                              value="{% get_user_score_by_item request.user item %}"
                       />/5
                    </span>

                    </div>
                    <div class="col-6">
                        <span>
                            Your interest:
                            <input type="number"
                                   class="your-interest"
                                   min="1" max="3"
                                   name="interest"
                                   value="{% get_user_interest_by_item request.user item %}"
                            />/3
                        </span>
                    </div>
                </div>
                <input type="hidden" class="item-id" value="{{ item.id }}"/>
            </form>


        </li>
        {% endfor %}
    </ul>
</div>
