<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container ">
        <ul class="navbar-nav mr-auto">

            <!-- Username  -->
            <li class="nav-item align-self-center">
                <a class="nav-link" href="{% url 'user' user.username %}"><b class="text-white">{{ user.profile.fullname }}</b><br>
                <small>@{{ user.username }}</small></a>
            </li>

            <!-- Items -->
            <li class="ml-5 align-self-center">
                <a class="nav-link text-center" href="{% url 'user_item_list' user.username %}">
                    Items<br>
                    <b>{{ user.user_items.all|length }}</b>
                </a>
            </li>

        </ul>
    </div>
</nav>