<script>
$(document).ready(function(){

    var before_hover;

    // 1. Visualizing things on Hover
    $(".flames li").on('mouseover', function(){
        before_hover = parseInt($(this).parent().children('li.selected').last().data('value'), 10);
        var onFlame = parseInt($(this).data('value'),10);

            // Now highlight all that's not after the current hovered flame
        $(this).parent().children('li.flame').each(function(e){
            if (e < onFlame) {

            $(this).addClass('hover');
            } else {
                $(this).removeClass('selected');
            }
        });

    }).on('click', function(){
        before_hover =  parseInt($(this).data('value'), 10);
    }).on('mouseout', function(){
        $(this).parent().children('li.flame').each(function(e){
            $(this).removeClass('hover');
        });
        $(this).parent().children('li.flame').each(function(e){
            if (e < before_hover){
                $(this).addClass('selected');
            } else {
                $(this).removeClass('selected');
            }
        });
    });

    // 2. Action to perform on click
    $('.flames li').on('click', function(){
        var onFlame = parseInt($(this).data('value'), 10);
        var item_id = $(this).parent().data('value');
        var flames = $(this).parent().children('li.flame');

        for (i = 0; i < flames.length; i++){
            $(flames[i]).removeClass('selected');
        }

        for (i = 0; i < onFlame; i++){
            $(flames[i]).addClass('selected');
        }

        // AJAX
        var interestValue = parseInt($(this).parent().children('li.selected').last().data('value'), 10 );
        var form_data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            interest: interestValue,
            user_id: "{{ request.user.id }}",
            item_id: item_id
        }

        update_interest(form_data);

    });

});

function update_interest(form_data){
    $.ajax({
        url: "/ajax/update_interest",
        type: "POST",
        data: form_data,
        dataType: 'json',

        success : function(data){
            saved_message(data.message);
        },
        error : function(){
            saved_message("Error while saving");
        }
    });
};

{% include 'js/saved_message.html' %}

</script>