.no-underline:link{
    text-decoration:none;
}

#search-box{
width:300px;
}

.no-bullets{
list-style-type: none;
}

.body{
background-color: #e5eeef;
}

.update-card-user-pic{
position: absolute;
z-index:1;
top: 10px;
}

.saved-message{

}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}


/* Interest flame */

.interest-flames ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.interest-flames ul > li.flame{
  display:inline-block;

}

.interest-flames ul > li.flame> i.fa-fire{
  font-size:1em;
  color:#ccc;
}

/* Hover state */
.interest-flames ul > li.flame.hover > i.fa-fire {
  color:#6ba3ff;
}

/* Selected state*/
.interest-flames ul > li.flame.selected > i.fa-fire {
  color:#0069D9;
}


